<!DOCTYPE html>
<%- include('_header.html') %>
<script type="text/javascript">
  // fuctions
  function onS() {
    let m = document.getElementById("f-member");
    sessionStorage.setItem("member", m.value);
    let p = document.getElementById("f-pwd");
    if (!p.value) {
      p = sessionStorage.getItem("pwd");
      if (!p) {
        sH(true);
        return false;
      }
      sH(false);
    } else {
      sessionStorage.setItem("pwd", p.value);
      p = p.value;
    }
    let c = document.getElementById("f-content");
    m.value = CryptoJS.AES.encrypt(m.value, p);
    c.value = CryptoJS.AES.encrypt(c.value, p);
    console.log(m.value, c.value, p);
    return false;
  }

  //function 
  function sH(b){
    if(b)
      document.getElementById("d-n").style.display = 'block';
    else{
      // hide the lorem ipsum text
      document.getElementById("d-n").style.display = 'none';
    }
  }

  // function 
  function decr() {
    let p = document.getElementById("f-pwd");
    if (!p.value) {
      p.value = sessionStorage.getItem("pwd");
      if (!p.value) {
        sH(true);
        return false;
      }
      sH(false);
    }
    let mem = sessionStorage.getItem("member");
    if (mem) {
      document.getElementById("f-member").value = mem;
    }
    p = p.value;
    let c = document.getElementsByClassName("content");
    let m = document.getElementsByClassName("member");
    let ms=[],cs=[];
    if(document.getElementById('check').checked){
    try{
    for (let i = 0; i < m.length; i++) {
      if(m[i].dataset.enc=="true"){
      ms.push(CryptoJS.AES.decrypt(m[i].dataset.encrypted, p).toString(
        CryptoJS.enc.Utf8
      ));
      cs.push(CryptoJS.AES.decrypt(c[i].dataset.encrypted, p).toString(
        CryptoJS.enc.Utf8
      ));
      }else{
        ms.push(m[i].dataset.encrypted);
        cs.push(c[i].dataset.encrypted);
      }
    }
    }catch(e){
      document.getElementById('check').checked=false;
      sH(true);
      return false;
    }
    sH(false);
    sessionStorage.setItem("pwd", p);
    for (let i = 0; i < m.length; i++) {
      m[i].innerHTML = ms[i];
      c[i].innerHTML = cs[i];
    }
    }else{
      document.getElementById('check').checked=false;
      for (let i = 0; i < m.length; i++) {
      m[i].innerHTML = "encrypted";
      c[i].innerHTML = "encrypted";
    }
    }
    
    console.log("decrypted");
  }
  async function pollMsgs(){
    const r=await fetch(window.location.pathname+"/msgs");
    const chat=await r.json();
    const tbody = document.getElementById("tbody");
    let s=``;
    for (let i of chat) {
      s+=`<tr>
      <td scope="col-2" data-enc="${i.enc}" data-encrypted="${ i.mem }" class="member">encrypted</td>
      <td scope="col">:</td>
      <td scope="col" data-encrypted="${i.msg}" class="content">encrypted</td>
    </tr>`
    }tbody.innerHTML=s;
    decr();
    // setTimeout(pollMsgs, 5000);
  }

  //document 
  document.body.onload = ()=>pollMsgs();

</script>

<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= chat[0].chat_name%></h1>
    <div class="alert alert-danger" role="alert" id="d-n">
      Please enter password!
    </div>
    <table class="table table-primary table-sm">
      <thead>
    <tr>
      <th scope="col-2">Member</th>
      <th scope="col">:</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody id="tbody">  
    <% for(let i of chat){ %>
    <tr>
      <td scope="col-2" data-enc="<%= i.enc %>" data-encrypted="<%= i.mem %>" class="member">encrypted</td>
      <td scope="col">:</td>
      <td scope="col"  data-encrypted="<%= i.msg %>" class="content">encrypted</td>
    </tr>
    <% } %>
  </tbody>
    </table>
    <div class="input-group mb-3">
      <input
        class="form-control"
        id="f-pwd"
        placeholder="Password,type it here"
        name="pwd"
        type="text"
      />
      <div class="input-group-text ">
        <input class="form-check-input mt-0" id="check" onclick="decr()" type="checkbox" value="" aria-label="Checkbox for following text input" checked>
        <label class="form-check-label" for="check">Decrypt</label>
      </div>
      </div>
      <form onsubmit="onS()" action=<%="/newMsg/" +chat[0].chat %>
        >
        <input
          class="form-control mb-3"
          id="f-member"
          placeholder="Member name,type it here"
          name="member"
          type="text"
          required
        />
        <input
          class="form-control"
          id="f-content"
          placeholder="Message,type it here"
          name="msg"
          type="text"
          required
        /><br />

        <input class="btn btn-primary" type="submit" /><br />
      </form>
    </div>
  </div>
  <%- include('_footer.html') %>
</div>
